#name{
 font-family:Georgia, 'Times New Roman', Times, serif;
}
.quote-body{
    color: white;
    margin: 1% 5% 5% 5%;
    padding: 2% 5% 5% 5%;
    border: 2px;
    box-shadow: 2vh 1vh 3vh .5vh orange;
}
h5{
    color: orange;
}
