/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body{
    background-image: url('https://www.txstate.edu/cache3e7d0152abe1411be53474971cb6e190/imagehandler/scaler/gato-docs.its.txstate.edu/jcr:cbbdcc1b-25df-4d99-a03f-3534465923cd/maroonAlkek.png?mode=clip&width=1920&height=1920');
    color:orange;
    font-size: 25px;
}
.form-group{
    text-align: center;
    color:whitesmoke;
}
.container-fluid2{
    text-align: center;
    
}
 
